################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/__pycache__
/flask-venv
/migrations/versions/__pycache__
/migrations/__pycache__
/models/__pycache__
